:root {
  --primary-color: #3dd3c0;
  --white-color: #ffffff;
  --dark-color: #333333;
  --success-color: #28a745;
  --error-color: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: var(--dark-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  height: 17.5rem;
  background: var(--primary-color);
}

.todolist {
  height: 50rem;
  width: 100%;
  max-width: 70rem;
  margin-top: -6rem;
  padding: 0 1.6rem;
}

.form-todo,
.form-edit {
  padding: 1.6rem;
  background: var(--white-color);
  border-radius: 0.4rem;
  box-shadow: 0 0.8rem 1rem lightgrey;
}

.form-edit {
  display: none;
}

.label-todo,
.label-edit {
  display: block;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-todo,
.input-edit {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  outline: 0;
}

.add-todo,
.button-edit {
  border: 0;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  margin-left: 1.6rem;
  text-transform: uppercase;
}

.button-edit {
  background: var(--white-color);
  border: solid 0.1rem var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
}

.add-todo:hover {
  filter: grayscale(20%);
}

.form-message {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  height: 1.4rem;
}

.form-message.error {
  color: var(--error-color);
}

.form-message.success {
  color: var(--success-color);
}

.todos {
  margin-top: 8rem;
  border-radius: 0.4rem;
  border: solid 0.1rem lightgrey;
}

.todo {
  display: flex;
  align-items: center;
  padding: 1.6rem;
  border-bottom: solid 0.1rem lightgrey;
}

.complete {
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.1rem lightgrey;
  border-radius: 0.4rem;
  cursor: pointer;
}

.complete .check {
  display: none;
  color: var(--success-color);
  pointer-events: none;
}

.todo.completed .check {
  display: block;
}

.description {
  margin: 0 3.2rem;
  flex: 1;
}

.todo.completed .description {
  text-decoration: line-through;
  color: lightgray;
}

.options {
  margin-left: 0;
}

.edit,
.remove {
  cursor: pointer;
}

.edit {
  color: var(--primary-color);
}

.remove {
  margin-left: 1.6rem;
  color: var(--error-color);
}
